<document>
{{ document_text }}
</document>

Here is the chunk we are investigating:
<chunk>
{{ chunk_text }}
</chunk>

Please give a short succinct context to situate this chunk within the overall document for the purposes of improving search retrieval of this chunk.
Answer only with the succinct context text.